* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /*  height: 100vh;
    width: 100%; */
    background-color: lightgray;
    font-size: 15px;
}

header,
footer {
    height: 60px;
    margin: 0 auto;
    background-color: rgb(77, 201, 246);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

footer {
    margin-top: 3px;
}

.row {
    width: 94%;
    background-color: orange;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.col-logo {
    height: 30px;
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-style: dashed;
}

.col-logo h3 {
    margin-left: 10px;
}

.col-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.col-menu ul {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    border-style: dashed;
}

.col-login {
    height: 30px;
    width: 30%;
    display: flex;
    align-items: center;
    border-style: dashed;
}

.col-login .button {
    margin: 0 auto;
    height: 26px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
}

main {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.large-container {
    height: 100px;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;

}

.bg-pink {
    background-color: pink;
}